<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Uutiset</title>
   
    <link rel="stylesheet" href="/css/login.css" type="text/css">
    <!--https://www.w3schools.com/howto/howto_css_signup_form.asp-->

</head>

<body>
    
    <div class="container">
        <form  method="POST" action="/login/" style="border:1px solid #ccc">
            <div class="container">
              <h1>Kirjaudu sisään</h1>
              <hr>
          
              <label for="tunnus"><b>Tunnus</b></label>
              <input type="text" placeholder="Kirjoita tunnus.." name="tunnus" required>
          
              <label for="salasana"><b>Salasana</b></label>
              <input type="password" placeholder="Kirjoita salasana.." name="salasana" required>
          
              <!--<label>
                <input type="checkbox" checked="checked" name="muista" style="margin-bottom:15px"> Muista kirjautumiseni
              </label>
              <a href="/uusiKayttaja/">Olen uusi käyttäjä</a>
              <br>-->
              
              <div class="clearfix">
                <button type="submit" class="signupbtn">Kirjaudu sisään</button>
                <a href="/"><button type="button" class="cancelbtn">Peruuta</button></a>
              </div>

              <% if(virhe) { %>
                <div class="varoitus">
                    <%=virhe%>
                </div>
              <%}%>

            </div>
          </form>    

    </div>
    
</body>

</html>