<!--
    file: index.ejs
    desc: Kumpparit Oy
            - etusivu
    date: 11.8.2019
    auth: Maarit Parkkonen
--> 
<%- include("includes/header"); -%>

    <div class="sisalto">
            <!-- valintapainikkeet-->
            <a href="/uusi/"><div class="btnBig btn1">Lis채채 uusi tuote</div></a>
            <a href="/idHaku/"><div class="btnBig btn5">Etsi tuote</div></a>
            <a href="/haku/"><div class="btnBig btn2">Hae tuotteita</div></a>
            <a href="/varasto/"><div class="btnBig btn3">N채yt채 varastotilanne</div></a>
    </div>

<%- include("includes/footer"); -%>