<!--
    file: header.ejs
    desc: OT8, elokuvahaku
    date: 14.1.2019
    auth: Maarit Parkkonen
--> 
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Elokuvahaku, ot8</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- omat tyylit-->
    <link href="/css/styles.css" rel="stylesheet">
</head>